/* Global styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffd7ba, #009ddd);
    color: #000;
	padding-top: 225px;
}

body.dark-mode {
    background: linear-gradient(to bottom, #000, #f00);
	padding-top: 225px;
}

header {
    position: fixed;
    top: 1%;
    left: 1%;
	right: 1%;
	border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header.dark-mode {
    background-color: #444;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

header img {
    height: 150px;
    width: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #009ddd;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul.submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    top: 0;
    margin-top: 20px;
}

nav ul.menu li {
    position: relative;
}

nav ul.menu li:hover ul.submenu {
    display: block;
}

nav ul.submenu li {
    margin: 0;
}

nav ul.submenu li a {
    color: #009ddd;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

nav ul.submenu li a:hover {
    text-decoration: underline;
}

main {
    max-width: 66%;
    margin: 0 auto;
    padding: 20px;
}

/* Hero section styles */
#hero {
    position: relative;
	border-radius: 10px;
    height: 400px;
    overflow: hidden;
}

#hero .carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#hero .carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#hero .carousel img.active {
    opacity: 1;
}

#hero .hero-content {
    position: relative;
    z-index: 1;
    padding: 40px;
    text-align: center;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#hero a {
    background-color: #009ddd;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#hero a:hover {
    background-color: #007ddd;
}

/* Recent highlights section styles */
#recent-highlights {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

#recent-highlights h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#recent-highlights ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#recent-highlights li {
    flex-basis: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
}

#recent-highlights li:nth-child(3n+4) {
    margin-right: 0;
}

#recent-highlights li a {
    color: #009ddd;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#recent-highlights li a:hover {
    background-color: #f5f5f5;
}

/* Become a chef section styles */
#become-a-chef {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    text-align: center;
}

#become-a-chef h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#become-a-chef p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#become-a-chef a {
    background-color: #009ddd;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#become-a-chef a:hover {
    background-color: #007ddd;
}

#recent-highlights,
#become-a-chef {
    margin-top: 40px;
}

/* Toggle mode button styles */
#toggleMode {
    position: absolute;
    top: 20px;
    right: 50px;
    background-color: #fff;
    color: #009ddd;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#toggleMode:hover {
    background-color: #f5f5f5;
}

/* Hamburger menu styles */
#hamburgerMenu {
    display: none;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
	
	header #hamburgerMenu {
		position: absolute;
		top: 50px;
		right: 20px;
	}

    header img {
        margin-bottom: 20px;
    }

    nav {
        margin-top: 20px;
		transition-delay: 31.5s;
    }

    nav ul {
        display: none;
		transition-delay: 31.5s;
    }

    nav ul.show-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
		transition-delay: 31.5s;
    }
	
	/* Adjust submenu positioning and display */
    nav ul.menu li:hover ul.submenu {
        display: block;
    }

    nav ul.menu li ul.submenu {
        display: none;
        position: absolute;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        top: 60%;
        left: 0;
        margin-top: 5px;
        transition: all 0.3s ease;
		z-index: 10;
    }

    /* Adjust the position of submenus when hovered */
    nav ul.menu li:hover ul.submenu {
        display: block;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
		transition-delay: 31.5s;
    }

    #hero {
        height: 500px;
    }

    #hero .hero-content {
        padding: 30px;
    }

    #recent-highlights {
        margin-top: 30px;
    }

    #become-a-chef {
        margin-top: 30px;
    }

    #toggleMode {
        top: 10px;
        right: 10px;
    }

    #hamburgerMenu {
        display: block;
    }


    #toggleMenu {
        background-color: transparent;
        border: none;
        color: #009ddd;
        font-size: 2rem;
        cursor: pointer;
        padding: 0;
        margin: 0;
        appearance: none;
    }

    #toggleMenu:focus {
        outline: none;
    }
}

/* Footer styles */
footer {
    background: linear-gradient(to bottom, #ffd7ba, #009ddd);
    color: #000;
    text-align: center;
    padding: 20px;
    box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

body.dark-mode footer {
    background: linear-gradient(to bottom, #000, #f00);
    color: #fff;
}

.footer-left {
    flex: 1;
    text-align: center;
}

.footer-links {
    margin-bottom: 20px;
    text-align: center;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-links li {
    margin-bottom: 5px;
    margin-right: 20px;
	text-shadow: 0px 0px 2px #fff;
	text-shadow: 0px 0px 2px #fff;
	text-shadow: 0px 0px 2px #fff;
	text-shadow: 0px 0px 3px #fff;
	text-shadow: 0px 0px 4px #fff;
	text-shadow: 0px 0px 4px #fff;
	text-shadow: 0px 0px 4px #fff;
}

.submenu h3 {
    margin-top: 10px;
}

.footer-center {
    flex: 1;
    text-align: center;
}

.footer-center img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.footer-right {
    flex: 1;
    text-align: center;
}

.footer-right p {
    margin-top: 0;
}

.footer-submenu {
    display: flex;
    flex-wrap: wrap;
	text-shadow: 0px 0px 2px #fff;
	text-shadow: 0px 0px 2px #fff;
	text-shadow: 0px 0px 2px #fff;
	text-shadow: 0px 0px 3px #fff;
	text-shadow: 0px 0px 4px #fff;
	text-shadow: 0px 0px 4px #fff;
	text-shadow: 0px 0px 4px #fff;
}

.submenu {
    flex: 1;
    padding-left: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .footer-links ul {
        flex-direction: column;
        align-items: center;
    }

    .footer-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer-submenu {
        flex-direction: column;
        align-items: center;
    }

    .submenu {
        padding-left: 0;
    }
}


/* Blogs Page Only-ish */
.blogs-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Adjust the size of blog post containers */
.blog-post {
    width: calc(30% - 20px);
    margin-bottom: 20px;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
	margin-top: 40px;
}

/* Adjust the size of the thumbnail container */
.blog-thumbnail {
    width: 75%;
    overflow: hidden;
}

/* Adjust the size of the thumbnail image */
.blog-thumbnail img {
    width: 100%;
    height: calc(100% - 50px);
    object-fit: cover;
    margin-bottom: 10px;
}

.read-more-button {
    background-color: #009ddd;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.read-more-button:hover {
    background-color: #007ddd;
}

@media (max-width: 992px) {
    .blogs-section .blog-post {
        width: calc(75% - 20px);
    }
}

@media (max-width: 768px) {
    .blogs-section .blog-post {
        width: calc(75% - 20px);
    }
}

@media (max-width: 1024px) {
    .blogs-section .blog-post {
        width: calc(50% - 20px);
    }
}

@media (min-width: 1200px) {
    .blogs-section .blog-post {
        max-width: 400px;
        width: 100%;
    }
}

#blog-introduction {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    text-align: center;
}

#blog-introduction .info-content {
    display: flex;
    align-items: center;
}

#blog-introduction .info-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#blog-introduction .info-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Additional styles for the form */
.form-container {
    max-width: 50%;
    margin: 0 auto;
    background-image: url('./images/ThanksGivingWholePlate.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    text-align: center;
}

.form-container form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
}

.form-container input,
.form-container textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container textarea {
    resize: none;
    height: 150px;
}

.form-container button {
    background-color: #009ddd;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 10px auto;
}

.form-container button:hover {
    background-color: #007ddd;
}

.sub-section-form {

    justify-content: center;
    background-color: #d3d3d3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

/* Additional styles for the about page */
.about-section {
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-text {
    margin-left: 20px;
}

/* Additional styles for the info page */
.info-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    text-align: center;
}

.info-content {
    display: flex;
    align-items: center;
}

.info-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.info-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.outcome-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    text-align: center;
}

.outcome-content {
    display: flex;
    align-items: center;
}

/* Chef page css */
.chefs-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Adjust the size of chef profile containers */
.chef-profile {
    width: calc(30% - 20px);
    margin-bottom: 20px;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

/* Adjust the size of the thumbnail container */
.chef-thumbnail {
    width: 75%;
    overflow: hidden;
}

/* Adjust the size of the thumbnail image */
.chef-thumbnail img {
    width: 100%;
    height: calc(100% - 50px);
    object-fit: cover;
    margin-bottom: 10px;
}

/* Adjust the size of the chef name */
.chef-name {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Adjust the size of the chef specialty */
.chef-specialty {
    font-weight: bold;
}

/* Adjust the size of the chef experience */
.chef-experience {
    margin-bottom: 10px;
}

#submit-critique {
    position: relative;
    padding: 50px; /* Adjust padding as needed */
}

.form-container {
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#submit-critique h2 {
    text-align: center;
    margin-bottom: 20px;
}

#critique-form {
    display: flex;
    flex-direction: column;
}

#critique-form div {
    margin-bottom: 20px;
}

#critique-form label {
    font-weight: bold;
}

#critique-form input,
#critique-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#critique-form button {
    background-color: #009ddd;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#critique-form button:hover {
    background-color: #007ddd;
}

/* Intro Section */
#intro-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    text-align: center;
}

/* Submit Critique Section */
#submit-critique {
    position: relative;
    margin-top: 40px;
}

.form-container {
    background-image: url('./images/your-image.jpg');
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #000;
}

.form-container h2 {
    margin-top: 0;
}

#critiques {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    text-align: center;
}

#disclaimer-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    text-align: center;
}

#critique-list {
    list-style-type: none;
    padding: 0;
    max-height: 250px;
    overflow-y: auto;
}

#critique-list li {
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #c3ebed;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Recipes Page Styles */

/* Main Content */
.blog-recipes-main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Section Styles */
.blog-recipes-main section {
	margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.blog-recipes-main section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.blog-recipes-main section table {
    width: 100%;
    border-collapse: collapse;
}

.blog-recipes-main section table th,
.blog-recipes-main section table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.blog-recipes-main section table th {
    background-color: #f5f5f5;
}

.blog-recipes-main section ol {
    list-style-type: decimal;
    padding-left: 20px;
}

.blog-recipes-main section ol li {
    margin-bottom: 10px;
}

/* Table Styles */
.blog-recipes-main section table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f5f5f5;
}

.blog-recipes-main section table th,
.blog-recipes-main section table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.blog-recipes-main section table th {
    background-color: #d2b48c;
    color: #000;
}

.blog-recipes-main section table td {
    background-color: #ccc;
    color: #000;
}

/* Button Styles */
.blog-recipes-main button {
    background-color: #009ddd;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.blog-recipes-main button:hover {
    background-color: #007ddd;
}

/* Main Content */
.blog-recipes-main {
    display: flex;
    flex-wrap: wrap;
}

/* Main Content Sections */
.blog-recipes-main .main-content {
    flex: 1;
    padding: 20px;
}

/* Sidebar */
.blog-recipes-main .sidebar {
    flex: 0 0 30%;
    background-color: lightgray;
    padding: 20px;
}

/* Main Section Styling */

.introductory-section,
.join-culinary-adventure,
.culinary-outcomes,
.become-a-chef {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.family-cooking-image {
    margin-top: 20px;
}

.family-cooking-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.image-caption {
    font-style: italic;
    margin-top: 10px;
}

/* Apply Now Button */
.apply-now-button {
    display: inline-block;
    background-color: #009ddd;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.apply-now-button:hover {
    background-color: #007ddd;
}

/* Main Content */
.videos-main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Video Introduction Section */
.welcome-video-play,
.video-introduction {
    margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Welcome Video Play Section Additional Styling */
.welcome-video-play .video-player {
    width: 75%;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}

.welcome-video-play .video-player img {
    max-width: 100%;
    height: auto;
}

.welcome-video-play .video-player video {
    width: 100%;
    height: auto;
    display: block;
}

.welcome-video-play h2 {
    margin-top: 0;
    margin-bottom: 20px;
}


.welcome-video-play,
.video-introduction h2{
	text-align: center;
}

.video-introduction p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.welcome-content {
    position: relative;
    height: 300px;
    background-image: url('./images/video-failEggCrack.gif');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.welcome-content h1 {
    color: black;
    text-shadow: 0 0 10px white;
}

/* Video Blogs Section */
.video-blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Individual Video Posts */
.video-post {
    width: calc(30% - 20px);
    margin-bottom: 20px;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Video Thumbnail */
.video-thumbnail {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-thumbnail img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Video Title */
.video-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Video Details */
.video-details {
    text-align: center;
}

.author {
    font-weight: bold;
    margin-bottom: 5px;
	margin-top: 10px;
}

.rating {
    font-style: italic;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 10px;
}

.watch-video-button {
    background-color: #009ddd;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.watch-video-button:hover {
    background-color: #007ddd;
}

/* Adjust layout when screen size is medium or larger */
@media only screen and (min-width: 768px) {
    .video-post {
        width: 100%;
        margin: 1rem 0;
        display: block;
    }
}

/* Welcome Intro Section Additional Styling */
.welcome-intro {
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;
    margin-top: 50px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
	margin-top: 30px;
}

.welcome-intro h2 {
    color: #000000;
}

.welcome-intro p {
    color: #444444;
    margin-bottom: 20px;
}

/* Welcome Video Play Section Additional Styling */
.welcome-video-play .video-player {
    width: 75%;
    margin: 0 auto;
    max-width: 800px;
	margin-bottom: 30px;
}

.welcome-video-play .video-player video {
    max-width: 100%;
    height: auto;
    max-height: 45vh;
    display: block;
    margin: 0 auto;
}

/* Welcome Please Learn More Section Additional Styling */
.welcome-please-learn-more {
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;
    margin-top: 50px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.welcome-please-learn-more h2 {
    color: #000000;
}

.welcome-please-learn-more p {
    color: #444444;
    margin-bottom: 20px;
}

.welcome-please-learn-more a {
    display: inline-block;
    background-color: #009ddd;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.welcome-please-learn-more a:hover {
    background-color: #007ddd;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.1);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}